<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dnnType" value="Install" />
	<add key="sourceDrive" value="r:" />
	<add key="communityPath" value="r:\DotNetNuke Files\DotNetNuke_Versions" />
	<add key="proPath" value="r:\DotNetNuke Files\DotNetNuke_Pro_Versions" />
	<add key="iisIdentity" value="NT AUTHORITY\NETWORK SERVICE" />
	<add key="productName" value="community" />
	<add key="webHome" value="c:\websites" />
  </appSettings>
</configuration>

