<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MetaVariables.DnnAlias"          value="734-auto" />
    <add key="MetaVariables.AppPoolName"       value="zeusdnn" />
    <add key="MetaVariables.DnnDatabase"       value="dnn{DnnAlias}" />
    <add key="MetaVariables.DnnSourceRoot"     value="D:\Instaladores\DotNetNuke\07.03.04" />
    <add key="MetaVariables.SitePhysicalPath"  value="C:\inetpub\dnn{DnnAlias}" />
    <add key="MetaVariables.SiteProtocol"      value="http" />
    <add key="MetaVariables.SiteDomain"        value="{DnnAlias}.dnndev.me" />
    <add key="MetaVariables.SitePort"          value="80" />

    <add key="Source.DnnExtraModules"      value="{DnnSourceRoot}\ExtraModules\*.zip" />
    <add key="Source.DnnInstallZip"        value="{DnnSourceRoot}\DNN_Platform_*_Install.zip" />
    <add key="Source.DnnDeployer"          value="C:\ProgramData\chocolatey\lib\dnncmd\DnnExtension\*.zip" />

    <add key="Web.Site.Name"               value="dnn{DnnAlias}" />
    <add key="Web.Site.PhysicalPath"       value="{SitePhysicalPath}" />
    <add key="Web.Site.AppPoolName"        value="{AppPoolName}" />
    <add key="Web.Site.Protocol"           value="{SiteProtocol}" />
    <add key="Web.Site.Port"               value="{SitePort}" />
    <add key="Web.Site.Alias"              value="{SiteDomain}" />
    <add key="Web.Site.maxUrlSegments"     value="120" />
    
    <add key="Web.Root.Folder"             value="{SitePhysicalPath}" />
    <add key="Web.Root.Url"                value="{SiteProtocol}://{SiteDomain}{SitePort}" />

    <add key="Web.AppPool.Name"            value="{AppPoolName}" />
    <add key="Web.AppPool.managedRuntimeVersion"    value="v4.0" />
    <add key="Web.AppPool.enable32BitAppOnWin64"    value="true" />
    <!--NetworkService | LocalService | LocalSystem | ApplicationPoolIdentity | SpecificUser-->
    <add key="Web.AppPool.identityType"    value="SpecificUser" />
    <add key="Web.AppPool.userName"        value="ZEUSTECNOLOGIA\PEscobar" />

    <add key="Web.Config.MaxRequestMB"     value="100" />

    <add key="Database.Name"               value="{DnnDatabase}" />
    <!--Simple|Full-->
    <add key="Database.RecoveryMode"       value="Simple" />
    <add key="Database.DropIfExists"       value="1" />
    <add key="Database.Server"             value=".\SQL2014" />
    <add key="Database.AdminUser"          value="" />
    <add key="Database.AdminPassword"      value="" />
    <!--si es vacio, usara SQL Server DefaultDataPath-->
    <add key="Database.DataPath"           value="" />
    <!--si es vacio, usara SQL Server DefaultLogPath-->
    <add key="Database.LogPath"            value="" />


    <!--Dnn Installation Settings-->
    <add key="Dnn.installInfo.username"                value="host" />
    <add key="Dnn.installInfo.password"                value="abc123$" />
    <add key="Dnn.installInfo.confirmPassword"         value="abc123$" />
    <add key="Dnn.installInfo.email"                   value="host@change.me" />
    <add key="Dnn.installInfo.websiteName"             value="My Blank Website" />
    <!--<add key="Dnn.installInfo.template"            value="Default Website.template" />-->
    <add key="Dnn.installInfo.template"                value="Blank Website.template" />
    <add key="Dnn.installInfo.language"                value="es-ES" />
    <add key="Dnn.installInfo.threadCulture"           value="es-ES" />
    <add key="Dnn.installInfo.databaseSetup"           value="advanced" />
    <add key="Dnn.installInfo.databaseServerName"      value=".\SQLExpress" />
    <add key="Dnn.installInfo.databaseFilename"        value="" />
    <add key="Dnn.installInfo.databaseType"            value="server" />
    <add key="Dnn.installInfo.databaseName"            value="{DnnDatabase}" />
    <add key="Dnn.installInfo.databaseObjectQualifier" value="dnn_" />
    <add key="Dnn.installInfo.databaseSecurity"        value="integrated" />
    <add key="Dnn.installInfo.databaseUsername"        value="" />
    <add key="Dnn.installInfo.databasePassword"        value="" />
    <add key="Dnn.installInfo.databaseRunAsOwner"      value="on" />
  </appSettings>
</configuration>

