CREATE DATABASE [zeusweb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zeusweb', FILENAME = N'C:\SqlData\MSSQL12.SQLEXPRESS\MSSQL\DATA\zeusweb.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'zeusweb_log', FILENAME = N'C:\SqlData\MSSQL12.SQLEXPRESS\MSSQL\DATA\zeusweb_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [zeusweb]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [zeusweb] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
