<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.web>
    <!--DEV04-->
    <!--<machineKey validationKey="06DE0E5C430A1A216F07F3EB60AC1C965CCB12F9" decryptionKey="6B191C6D06D705E43F2CE0EF8ACC6FD37FC8CF8A45CD97BF" decryption="3DES" validation="SHA1"/>-->
    <!--LUIS CARLOS-->
    <machineKey validationKey="391B3D667050A1F21A59544B89F7E92A1706E983" decryptionKey="7A822FA30A147D0944910E8DAA1C117F7A8E1DA319C2CB16" decryption="3DES" validation="SHA1" />

    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SiteSqlServer" enablePasswordRetrieval="True" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" passwordFormat="Encrypted" applicationName="DotNetNuke" description="Stores and retrieves membership data from the local Microsoft SQL Server database"/>
      </providers>
    </membership>
  </system.web>
</configuration>
